 *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
 }
.head {
    display: flex; 
    width: 100%;
    background-color: #7c4185;
    box-sizing: border-box;
    justify-content: space-between;
    line-height: 18px;
    height: 80px;
    align-items: center;
    margin-bottom: 0.75rem;
    
}


.head_logo {
     width: 250px;
     margin-left: 30px;
  
}

.head_nav {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
      
}

.head_nav button{
    background-color: #7c4185;
    color: #ffffff;
    font-weight: 700;
    padding: 14px 20px;
    border-radius: 10px;
    border-color:#ac78ac;
    font-size: 19px;
    margin-right: 20px;
    margin-top: 2px;
    
}


.head_link {
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
    color: #ffffff;
    text-decoration: none;

}

.head_link a{
    color: #ffffff;
    text-decoration: none;
}



/*Menu Hamburguesa*/

.bars_menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    cursor: pointer;
    display: none;
    
}


.bars_menu span{
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;

}

.activeline1_bars_menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2_bars_menu{
    opacity: 0;
    margin-left: -40px;
}

.activeline3_bars_menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}



@media (max-width: 760px) {
    
    .menu_items {
       position: fixed;
       top: 80px;
       bottom: 50%;
       background: #c18ec9;
       width:100%;
       left: -0.03rem;
       display: flex;
       justify-content: space-evenly;
       flex-direction: column;
       align-items: center;
       display: none;
       
       
    }

    
     

    .bars_menu {
        display: block;
        position: static;
        margin: 55px 70px 0 0;
    }

    .click{
        display: none;
    }

}


@media (max-width: 600px) {
    .menu_items{
        position: fixed;
        top: 80px;
        bottom: 52%;
        background: #c18ec9;
        width:100%;
        left: -0.03rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        
     }
      .click{
        opacity: 0;
      }
       
     .bars_menu {
         display: block;
         position: static;
         margin: 55px 75px 0 0;
     }
 
}