.film{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
}



.film_container{
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 1px 100px 1px 100px;
    box-sizing: border-box;
    height: auto;
    
}

.image-film{
    width: 500px;
    height: 500px;
    background-image: url(img/film.svg);
    background-size: cover;
    float: right;
    padding: 10px 20px 20px 20px;
    border-radius: 70%;
}

.text{
    align-items:flex-start;
    flex-direction: column;
    height: auto;
}

.film_titulo{
    color: #502c8e;
    font-size: 32px;
    font-style: normal;
    text-align: left;
    font-family:Roboto;
    font-weight: 900;
    line-height: 38px;
    align-items: center;
    padding: 1px 30px 3px 30px;
    text-transform: uppercase;
    height: auto;
}

.film_text{
    text-align: left;
    font-family: Roboto;
    line-height: 23px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color:#000;
    padding: 1px 30px 30px 30px;
    height: auto;
}

.film_button{
    background-color: #502c8e;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: #fff;
    width: 250px;
    font-weight: 500;
    padding: .85rem 2rem;
    justify-content:center;
    text-decoration: none;
    font-family: Roboto;
    outline: none;
    cursor: pointer;
    border: none;
    margin-left: 30px;
}

@media screen and (max-width:600px) {
    .film{
        width:100%;
        height: auto;
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
    }   
    .film_container{
        width:100%;
        height: auto;
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
    } 
    .image-film{
        width:100%;
        height: auto;
        display:flex;
        flex-flow: row wrap;
    } 
}

@media screen and (max-width:880px) {

    .film{
        width:100%;
        height: auto;
        display:flex;
        flex-flow: row wrap;
    }   
    .film_container{
        width:100%;
        height: auto;
        display:flex;
        flex-flow: row wrap;
        flex-direction: column;
        text-align: center;
    } 
    .image-film{
        width:100%;
        height: auto;
        display:flex;
        flex-flow: row wrap;
    } 
}